<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="demo">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名称" v-model='keyWord'>
        <ul>
            <li v-for='item in filter' :key="item.id">{{ item.name }}-{{ item.age }}-{{item.sex}}</li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false // 阻止 vue 在启动时生成生产提示
        // 用watch实现
        // #region
        // new Vue({
        //     el: '.demo',
        //     data: {
        //         persons: [{
        //             id: 1,
        //             name: "马冬梅",
        //             age: 18,
        //             sex: '女'
        //         }, {
        //             id: 2,
        //             name: "周冬雨",
        //             age: 19,
        //             sex: '女'
        //         }, {
        //             id: 3,
        //             name: "周杰伦",
        //             age: 20,
        //             sex: '男'
        //         }, {
        //             id: 4,
        //             name: "文昭伦",
        //             age: 24,
        //             sex: '男'
        //         }],
        //         keyWord: '',
        //         filter: []
        //     },
        //     watch: {
        //         // keyWord(val){
        //         //     this.persons = this.persons.filter((p) => {
        //         //         return p.name.indexOf(val) !== -1
        //         //     })
        //         // }
        //         keyWord: {
        //             immediate:true,
        //             handler(val) {
        //                 // console.log(val);
        //                 this.filter = this.persons.filter((p) => {
        //                     return p.name.indexOf(val) !== -1
        //                 })
        //             }
        //         }
        //     }
        // })
        // #endregion

        new Vue({
            el: '.demo',
            data: {
                persons: [{
                    id: 1,
                    name: "马冬梅",
                    age: 18,
                    sex: '女'
                }, {
                    id: 2,
                    name: "周冬雨",
                    age: 19,
                    sex: '女'
                }, {
                    id: 3,
                    name: "周杰伦",
                    age: 20,
                    sex: '男'
                }, {
                    id: 4,
                    name: "文昭伦",
                    age: 24,
                    sex: '男'
                }],
                keyWord: ''
            },
            computed: {
                filter() {
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1

                    })
                }
            }
        })
    </script>
</body>

</html>